@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
}
.startScreen img {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  border: 3px solid navy;
  border-radius: 20px;
}

.choice {
  background-color: lightcyan;
  border: 3px solid navy;
}

.choice-select {
  background-color: white;
  border: 3px solid yellowgreen;
}
.choice-submit {
  background-color: #d6f993;
  border: 3px solid yellowgreen;
}

.grid {
  display: grid;
  grid: 80px / auto auto;
  gap: 20px;
}
.grid button {
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  height: 80px;
}
.navigation {
  display: flex;
  margin-top: 80px;
}
#back {
  margin-right: 30px;
}

#next {
  margin-left: 430px;
}

#container {
  width: 600px;
  height: 400px;
  padding: 10px;
}
.testScreen {
  display: none;
  flex-direction: column;
  max-width: 1000px;
  min-width: 500px;
  height: 400px;
  background-color: lightblue;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  border-radius: 50px;
}

#score {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#question {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
#submit {
  margin-top: 30px;
  display: inline-block;
  width: 500px;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  border-radius: 30px;
  background-color: yellowgreen;
}
